.lds--input__wrapper,
.lds--input__wrapper > label {
  display: flex;
  flex-direction: column;

  gap: var(--lds-spacing-sm);
  width: 100%;
}

.lds--input__input {
  border-radius: var(--lds-radius);
  border: 1px solid var(--lds-color-gray-light);

  padding-block: var(--lds-spacing-md);
  padding-inline: var(--lds-spacing-lg);
}

.lds--input__input::placeholder {
  color: var(--lds-text-color-tertiary);
}
