.lds--center-layout {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;

  background-color: var(--lds-color-white);
}

.lds--center-layout > * {
  width: 100%;
}

.lds--center-layout--content > * {
  height: 100%;
  min-width: 0;
}

@media (max-width: 768px) {
  .lds--center-layout {
    align-items: center;
    padding-block: var(--lds-spacing-xxl);
  }

  .lds--center-layout--content {
    min-width: 90%;
  }
}
